<% if(successMsg.length){ %>
    <div class="alert alert-success alert-dismissible fade show col-6 offset-3 mt-3" role="alert">
        <h2><%=successMsg%></h2>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
<% if(errorMsg.length){ %>
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
        <h2><%=errorMsg%></h2>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>