<% layout("layouts/boilerplate") %>
    <!-- <h1>All Listings</h1> -->
    <style>
        #filters{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        .filter{
            text-align: center;
            margin-top: 2rem;
            margin-right: 1.5rem;
            opacity: 0.7;
        }
        .filter:hover{
            opacity: 1;
            cursor: pointer;
        }
        .filter p{
            font-size: 0.9rem;
        }

        .tax-info{
            display: none;
        }
        .tax-toggle{
            display: flex;
            align-items: center;
            border: 2px solid grey;
            height:3rem;
            border-radius: 0.8rem;
            padding: 1rem;
            margin-left: 6rem;
        }
    </style>
    <div id="filters">
        <div class="filter">
            <i class="fa-solid fa-fire"></i>
            <p>Trending</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-bed"></i>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <i class="fa-brands fa-fort-awesome"></i>
            <p>Castles</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-mountain-city"></i>
            <p>Iconic Cities</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-mountain-sun"></i>
            <p>Mountains</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-person-swimming"></i>
            <p>Amazing Pools</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-campground"></i>
            <p>Camping</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-cow"></i>
            <p>Farms</p>
        </div>
        <div class="filter">
            <i class="fa-regular fa-snowflake"></i>
            <p>Arctic</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-igloo"></i>
            <p>Domes</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-sailboat"></i>
            <p>Boating</p>
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">
                    Display Total After Taxes</label>
              </div>
        </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for(listing of allListing){ %>
            <a href="/listings/<%=listing._id%>" class="listing-link">
                <div class="card col listing-card" >
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing" style="height: 20rem;">
                    <div class="card-img-overlay">
                        
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title %></b> <br>
                            <% if (listing && listing.price !== undefined) { %>
                              <p class="card-text">
                                &#8377;<%= listing.price.toLocaleString("en-IN") %>
                                <i class="tax-info" >&nbsp;&nbsp;+18%gst</i>
                              </p>
                            <% } else { %>
                              <p class="card-text">Price not available</p>
                            <% } %>
                            
                        </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
<script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    let taxInfo = document.getElementsByClassName("tax-info")
    taxSwitch.addEventListener("click",()=>{
        console.log("Clicked!!")
        for(info of taxInfo){
            if(info.style.display !== "inline"){
                info.style.display = "inline";
            }else{
                info.style.display = "none";
            }
        }
    })
</script>
