body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.listing-link{
    text-decoration: none;
    color: #222222;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: crimson;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;

}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color:#ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-links,
.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    margin-right: 2rem;
    font-size: 1.2rem;
}

.listing-card{
    border: none !important;
    margin-bottom: 3rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 200 !important;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: aliceblue;
}
.add-btn{
    background-color: crimson !important;
    border: none !important;
}

.edit-btn{
    background-color: crimson !important;
    border: none !important;

}

.show-img{
    height:600px;
    width: 400px;
    max-width: 100%;
    max-height: 100%;
} 

.btns{
    display: flex;
}

.edit-btn2{
    background-color: crimson !important;
    border: none !important;
    height: 2.5rem;
    width:6rem;

}

#map { width: 900px; height: 500px; border: 2px; margin-bottom: 1rem;}