<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h1 class="col-6 offset-3">Login on wanderlist</h1>
    <div class="col-8 offset-3">
        <form action="/login" method="post" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
            <input 
            type="text"
            placeholder="Enter username"
            id="username"
            name="username"
            class="form-control" required>
            <div class="invalid-feedback">
                Please enter username
            </div>
            </div >
            <div class="mb-3">
                <label for="password" class="form-label">password
                </label>
            <input 
            type="password"
            placeholder="Enter password"
            id="password"
            name="password"
            class="form-control" required>
            <div class="invalid-feedback">
                Password required
            </div>
            </div >
            <button  class="btn btn-success">Login</button>
        </form>
    </div>
</div>